@font-face {
  font-family: "Lato";
  src: url('./assets/fonts/Lato-Regular.ttf');
}

body {
  padding: 0;
  background: #f0ece9!important;
  font-family: "Lato", sans-serif!important;
  scroll-behavior: smooth;
  overflow-x: hidden!important;
}
